.result_table{
    width: 100%;
}
.result_table th{
    font-weight: normal;
}
.result_table td{
    background-color: rgba(255,255,255,.5);
    border: 2px solid transparent;
    text-align: center;
}