p, h1, h2, h3, h4, h5{-webkit-margin-before: 0; -webkit-margin-after: 0; margin: 0; padding: 0;}

body {
  margin: 0;
  align-items: center;
  background-color: #E8EDF3;
}

#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@font-face{font-family: Montserrat-Medium; src: url(assets/fonts/Montserrat-Medium.ttf)}
@font-face{font-family: Montserrat-Regular; src: url(assets/fonts/Montserrat-Regular.ttf)}

body, input, a, button, textarea{
  font-family: "Montserrat-Medium", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #758EB1;
  font-size: 18px;
}
h1{font-size: 20px; font-family: "Montserrat-Regular"}
h2{font-size: 24px; margin: 20px 0;}

ul{margin: 0; padding-left: 30px;}

*::selection{background-color: rgba(72,68,74,.3);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrap{
  width: 340px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 70px;
}
.container{
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  padding: 20px;
  transition: .3s;
}
.container:hover{
background-color: rgba(255,255,255,.6);
box-shadow: 0 0 0 rgba(0,0,0,.15);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 15px;
}
input.input_text{
  box-sizing: border-box;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
  height: 30px;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 50px;
  outline:none;
  transition: .3s;
  margin: 5px 0;
}
input.input_text:focus{
  border: none;
  box-shadow: 0 0 0 rgb(0 0 0 / 15%);
  background-color: #758EB1;
  color: #fff;
}
input.input_text:hover{
  box-shadow: 0 0 0 rgb(0 0 0 / 15%);
}

.header_btn{
  padding: 10px;
  cursor: pointer;
}
input:disabled{
  opacity: 0.5;
}